<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Creating a new list</h1>

    <input
      #listTileInput
      type="text"
      class="input has-background-light is-medium"
      placeholder="Add new list"
    />
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button
        class="button is-primary hs-text-white is-medium"
        (click)="createList(listTileInput.value)"
      >
        Create
      </button>
    </div>
  </div>
</div>
